<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<link href="sliderSearch.css" rel="stylesheet">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<title>Lista Allievi</title>
</head>
<body>

	<div class="container">
		<h2>Allievi</h2>
<!-- 		<div class="container">
			<a class="btn icon-btn btn-primary pull-right" th:href="@{/allievo}"> <span
				class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add
			</a>
		</div> -->
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default list-group-panel">
					<div class="panel-body">
						<ul class="list-group list-group-header">
							<li class="list-group-item list-group-body">
								<div class="row">
									<div class="col-xs-3 text-left">Nome e Cognome</div>
									<div class="col-xs-3">Codice Fiscale</div>
									<div class="col-xs-3">Email</div>
									<div class="col-xs-3">Data di Nascita</div>
								</div>
							</li>
						</ul>
						<ul class="list-group list-group-body"
							th:each="allievo : ${allievi}">
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-3 text-left">
										<a th:href="@{'/allievo' + '/' + ${allievo.id}}"> <span
											th:text="${allievo.nome} + ' ' + ${allievo.cognome}"></span>
										</a>
									</div>
									<div class="col-xs-3">
										<a th:text="${allievo.codiceFiscale}"></a>
									</div>
									<div class="col-xs-3">
										<a th:text="${allievo.eMail}"></a>
									</div>
									<div class="col-xs-3">
										<a th:text="${allievo.dataDiNascita}"></a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>