<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Conferma Nuovo Allievo</h4>
	<p class="text-center">Controlla se i Dati sono Corretti</p>

	<form th:action="@{/confermaAllievo}" method="get" th:object="${allievo}">
	
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
		 	<a th:text="${allievo.nome} + ' ' + ${allievo.cognome}" class="form-control" ></a>
		 
        <div>
        </div>
        
		
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
		 	<a th:text="${allievo.eMail}" class="form-control"  ></a>
        <div>
        </div>
        
    </div> <!-- form-group// -->
    
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
		</div>
		<a th:text="${allievo.dataDiNascita}" class="form-control" ></a>
        <div>
        </div>
        
	</div> <!-- form-group end.// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
		<a th:text="${allievo.codiceFiscale}" class="form-control" ></a>
		
        <div>
        </div>
        
    </div> <!-- form-group// -->
                                     
    <div class="form-group">
        <input type="submit" value="Conferma" name="bottone" class="btn btn-primary btn-block"></input>
        <input th:formaction="@{'/cancelAllievo'+'/'+${allievo.codiceFiscale}}" type="submit" value="Cancel" class="btn btn-primary btn-block"></button>
    </div> <!-- form-group// -->      
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->
	
</body>
</html>