<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>



<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center" th:text="${centro.nome}"></h4>
	<p class="text-center" >Informazioni sul Centro</p>

	<form th:action="@{/menu}" method="get">

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <a th:text="${centro.email}"  class="form-control" type="email"></a>
    </div> <!-- form-group// -->
    
    
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fas fa-location-arrow"></i> </span>
		 </div>
        <a th:text="${centro.indirizzo}"  class="form-control" type="text"></a>
    </div> <!-- form-group// -->
    
    
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fas fa-phone"></i> </span>
		</div>
        <a th:text="${centro.telefono}" class="form-control" type="tel"></a>
	</div> <!-- form-group end.// -->
    
    
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fas fa-users"></i> </span>
		</div>
        <a th:text="${centro.capienzaMax}"  class="form-control" type="number" min="20" max="200"></a>
        
    </div> <!-- form-group// -->
    
   	<h4 class="card-title mt-3 text-center">Responsabile del centro</h4>
	<p class="text-center" th:text="${centro.responsabile.nome} + ' ' + ${centro.responsabile.cognome}"></p>
        
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <a th:text="${centro.responsabile.matricola}"  class="form-control"  placeholder="Matricola" type="text"></a>
    </div> <!-- form-group// -->
    
    
    
    
       	<h4 class="card-title mt-3 text-center">Incassi del Centro</h4>
        
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fas fa-dollar-sign"></i> </span>
		 </div>
        <a th:text="${centro.incasso} + '€'"  class="form-control"  type="text"></a>
    </div> <!-- form-group// -->
    
    
                                     
    <div class="form-group">
        <input type="submit" value="Indietro" name="bottone" class="btn btn-primary btn-block">
    </div> <!-- form-group// -->      
</form>
</article>
</div> <!-- card.// -->
<!--container end.//-->



</body>
</html>