<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta charset="UTF-8">
</head>
<body>



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Azienda Formazione</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link" href="#">Centri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/menuAttivita}">Attivita</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/allievi}">Allievi</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container my-5">
       <div class="card-body text-center">
    <h4 class="card-title">Attivita</h4>
    <p class="card-text">Lista delle Attivita</p>
  </div>
    <div class="card">
        <table class="table table-hover" >
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Data</th>
                <th scope="col">Ora</th>
                <th scope="col">Costo</th>
               <th scope="col">Centro</th> 
              </tr>
            </thead>
            <tbody  th:each="att : ${attivita}">
              <tr>
                <th scope="row" th:text="${att.codice}"></th>
                <td><a th:text="${att.nome}" th:href="@{'/allievoList' + '/' + ${att.codice}}"></a></td>
                <td th:text="${#dates.format(att.data, 'dd/MM/yyyy')}"></td>
                <td th:text="${att.ora}"></td>
                <td th:text="${att.costo} + '€'"></td>
                <td th:text="${att.centro.nome}"></td>
              </tr>
             
            </tbody>
          </table>
    </div>
    <!-- Large modal -->

    <div class="card-body text-center">
 	   <a class="card-text" th:href="@{/nuovaAttivita}">Aggiungi una Attivita</a>
	</div>

</div>






</body>
</html>