<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Azienda Formazione</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link" href="#">Centri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/menuAttivita}">Attivita</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/allievi}">Allievi</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container my-5">
       <div class="card-body text-center">
    <h4 class="card-title">Centri</h4>
    <p class="card-text">Lista dei centri</p>
  </div>
    <div class="card">
        <table class="table table-hover" >
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Capienza</th>
                <th scope="col">Info</th>
              </tr>
            </thead>
            <tbody  th:each="centro : ${centri}">
              <tr>
                <th scope="row" th:text="${centro.codice}"></th>
                <td th:text="${centro.nome}"></td>
                <td th:text="${centro.email}"></td>
                <td th:text="${centro.capienzaMax}"></td>
                <td><a class="btn btn-sm btn-info" th:href="@{'/visualizzaCentro' + '/' + ${centro.codice}}"><i class="fas fa-info-circle"></i> Info</a> </td>
              </tr>
             
            </tbody>
          </table>
    </div>
    <!-- Large modal -->

    <div class="card-body text-center">
 	   <a class="card-text" th:href="@{/centro}">Aggiungi un Nuovo Centro</a>
	</div>

</div>

</body>
</html>