<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

      <div class="container" style="margin-top: 20px;">    
            <div class="row">
                <div class="panel panel-default">
                <div class="panel-heading"></div>
                 <div class="panel-body">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                 <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
               
           
                </div>
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                    <div class="container" >
                      <h2 th:text="${responsabile.nome} + ' ' + ${responsabile.cognome}"></h2>
                      <p><b>Responsabile</b></p>
                    
                     
                    </div>
                     <hr>
                    <ul class="container details" >
                      <li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span><b th:text="${responsabile.matricola}"></b></p></li>
                      <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><b th:text="${responsabile.email}"></b></p></li>
                      <li><p><span class="glyphicon glyphicon-earphone" style="width:50px;"></span><b th:text="${responsabile.telefono}"></b></p></li>
                      
                    </ul>
                    <hr>
                    <div class="col-sm-5 col-xs-6 tital " >
                    <h4>Centro Gestito: <b th:text="${responsabile.centroGestito.nome}"></b> <h4 th:text="'Numero Allievi: ('+ ${totPartecipanti} + '/' + ${responsabile.centroGestito.capienzaMax} + ')'"></h4> </h4>
                    </div>
                    <div>
                    	<ul class="container details" >
                      <li><p><span class="glyphicon glyphicon-map-marker" style="width:50px;"></span><b th:text="${responsabile.centroGestito.indirizzo}"></b></p></li>
                      <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><b th:text="${responsabile.centroGestito.email}"></b></p></li>
                      <li><p><span class="glyphicon glyphicon-earphone" style="width:50px;"></span><b th:text="${responsabile.telefono}"></b></p></li>
                    </ul>
                    </div>
                </div>
          </div>
      </div>
      </div>
            
            
            <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Wrapper for slides -->
      
        <ul class="nav nav-pills nav-justified">
          <li class="active"><a th:href="@{/allievo}">Registra Nuovo Allievo</a></li>
          <li><a th:href="@{/partecipazione}">Aggiungi Partecipazione</a></li>
        </ul>


    </div><!-- End Carousel -->
</div>



</body>
</html>