<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Registra Nuova Partecipazione</h4>
	<p class="text-center">Inserisci il codice fiscale dell'allievo</p>
	<p th:text="${exists}"></p>

	<form th:action="@{/cercaAllievo}" method="post" th:object="${allievo}">
	
    <a th:if="${#fields.hasErrors('codiceFiscale')}" th:error="*{codiceFiscale}" class="form-control"></a>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input th:field="*{codiceFiscale}" name="nomeAllievo" class="form-control"  placeholder="Codice Fiscale" type="text">
        <div>
        </div>
    </div> <!-- form-group// -->
    
    <div class="form-group">
        <input type="submit" value="Avanti" name="bottone" class="btn btn-primary btn-block"></input>
    </div> <!-- form-group// -->      
</form>
</article>
</div> <!-- card.// -->
<!--container end.//-->


</body>
</html>